/* App.css */

.Big{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Big .Logincontainer {
    min-width: 450px;
    height: auto;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .Big form {
    display: flex;
    flex-direction: column;
  }
  
  .Big .form-group {
    margin-bottom: 20px;
  }
  
  .Big label {
    margin-bottom: 5px;
    display: block; /* Dodajemo ovu liniju kako bi labeli bili u koloni */
  }
  
  .Big input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px;
    height: 40px;
  }
  
  .Big button {
    background-color: #6CB4EE;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 16px;
    width: 100%;
  }
  