*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.data{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

}
.data{
    background-size: cover; /* Postavljanje veliÄine slike */
}

